.dialog-tab-coach {
  .name-custom-coachImage {
    float: left;
    width: 30% !important;
  }

  .name-custom-coachName,
  .sqs-dialog-field:has(.custom-field-description),
  .name-custom-coachDescription {
    float: right;
    width: 60% !important;
  }
}